table,td{
	border: 1px solid black;
	margin-top: 250px;
}
#left{
	border: 1px solid black;
	text-align: center;
	width: 70%;
	height: 50px;
}
#right{
	border: 1px solid black;
	text-align: center;
	width: 70%;
	height: 50px;
}