table,td{
	border: 1 px solid black;
	margin-top: 10px;
	width: 90%
}
#left{
	border: 1px solid black;
	width: 80%;
	height: 70px;
	align-content: center;
	font-size: 25px;
}
#right{
	border: 1px solid black;
	text-align: center;
	width: 80%;
	height: 70px;
}
#container{
	display: flex;
	background-color: #004E7C;
	padding-top: 20px;
	padding-bottom: 20px;
}
img{
	width: 120px;
	height: 120px;
	float: left;
}
h1{
	float: right;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 50px;
}

body{
	background-color: #DCE1E3;
}
.class{
	padding-top: auto;
	padding-bottom: auto;
	height: 400px;
}
.lab{
	padding-top: auto;
	padding-bottom: auto;
	height: 500px;
}
.footer{
	background-color: black;
	color: white;
}
p{
	text-align: center;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
}
b{
    width: 100px;
    font-size: 20px; 
  height: 100px;
  color: #9400D3;
  animation: marknew 5s infinite;
  animation-direction: initial;
}
@keyframes marknew{
	0% {color: #9400D3;}
	25% {color: #4B0082	;}
	50% {color: #0000FF	;}
	100% {color: red;}
}
