table,td{
	border: 1px solid black;
	margin-top: 10px;
}
#left{
	border: 1px solid black;
	width: 90%;
	height: 70px;
	align-content: center;
	font-size: 25px;
}
#right{
	border: 1px solid black;
	text-align: center;
	width: 70%;
	height: 70px;
}
#container{
	display: flex;
	background-color: #004E7C;
	padding-top: 20px;
	padding-bottom: 20px;
}
img{
	width: 100px;
	height: 100px;
	margin-left: auto;
	float: left;
}
h1{
	float: right;
	margin-right: auto;
	color: white;
}

body{
	background-color: #DCE1E3;
}
.table{
	padding-top: auto;
	padding-bottom: auto;
	height: 421px;
}
.footer{
	background-color: black;
	color: white;
}
p{
	text-align: center;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
}